html {
    background-color: #643C7C;
  }

headerStyle {
    margin-bottom: '1.5rem'
}

footerStyle {
text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

activeLink {
    color: 'red'
}